* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
  font-family: 'Teko', sans-serif;
}
.movies {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-shrink: 1;
  margin-left: 80px;

}

